@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  ============================================
  Custom Animation for Map Overlay
  ============================================
*/

/* Define the fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.7;
    /* This should match the opacity set in your component */
  }
}

/* Apply the animation to the image inside the Leaflet image overlay pane */
.leaflet-image-layer {
  animation: fadeIn 1s ease-in-out;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #242424;
}


/* Add this to your src/index.css, after the @tailwind directives */
.leaflet-container {
  z-index: 10;
}

